{% extends "layout.njk" %}

{% block styles %}
<link rel = "stylesheet" href = "/basket.css" />
{% endblock %}

{% block content %}

<div class = "basket-page">
    <div class = "items-column">
        <h2>Your Items</h2>
        {% for item in items %}
        
        <div class = "item-card">
            <img src = "{{ item.image_url}}" alt = "{{ item.name }}" class = "product-thumbnail">
            <div class = "item-details">
                <h3>{{ item.name }}</h3>
                <p>&pound;{{ (item.price_pence / 100).toFixed(2) }}</p>
            </div>
            <div class = "item-actions">
                <input type = "number" value = "{{ item.quantity }}" class = "quantity-input">
                <button class = "delete-button">X</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class = "summary-column">
        <h2>Summary</h2>
        <div class = "subtotal">
            <h3>Subtotal &pound;{{ (subtotal / 100).toFixed(2) }}</h3>
        </div>
        {% if discounts > 0 %}
        <div class = "discount">
            <h3>Discount -&pound;{{ (discounts / 100).toFixed(2) }}</h3>
        </div>
        {% endif %}
        <div class = "promo">
            <input type = "text" placeholder = "Promo">
            <button>Add</button>
        </div>
        <div class = "total">
            <h3>Total &pound;{{ (total / 100).toFixed(2) }}</h3>
        </div>

        <button class = "proceed">Proceed &rarr;</button>

    </div>

</div>


{% endblock %}